/*couleur bouton rouge Bootstrap*/
.hero-content button {
  background-color: #dc3545; // rouge Bootstrap
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  transition: background-color 0.3s ease;
}
/*survol bouton rouge Bootstrap*/
.hero-content button:hover {
  background-color: #c82333; // rouge plus sombre au survol
}