@import './reset';
@import './variables';
@import './mixins';
@import './media';
@import './global';
@import './Home';
@import './Contact';
@import '../pages/MentionsLegales/MentionsLegales';

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

// Empêche le décalage du site quand la modale est ouverte
body.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}