@import '../../styles/mixins';

.card-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: #efefef;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) !important;
  }

  .card-icon {
    font-size: 2.5rem;
    color: #0d6efd;
  }

  .card-image img {
    width: 100%;
    border-radius: 8px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.25rem;
    color: #222;
  }

  p {
    font-size: 1rem;
    color: #444;
    text-align: justify;
    flex-grow: 1;
  }

  .card-button {
    @include primary-button;
  }

  .card-footer {
    font-size: 0.85rem;
    color: #666;
    border-top: 1px solid #eee;
    padding-top: 0.75rem;
  }
}