.nav-link {
  transition: text-decoration 0.2s, font-weight 0.2s;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    font-weight: bold;
    text-decoration: underline;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
