.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s, font-weight 0.2s;

  &:hover {
    color: white;
    font-weight: bold;
  }
}

.social-icons a {
  display: inline-block;
  color: #ccc;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: white;
  }
}